/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   custom buttons
   ========================================================================== */

.arrow{
	font-size: 20px;
}
.start-project{
  padding-top:20px;
}
.start-project .btn{
 	  -moz-border-bottom-colors: #F9564A;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
   /* background-color: #F5F5F5;*/
    background-image: linear-gradient(to bottom, #F9564A, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
    background: #FF6760; /* Old browsers */
  	background: -moz-linear-gradient(top, #FF6760 0%, #FF6760 46%, #FF6760 58%, #FF6760 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6760), color-stop(46%,#FF6760), color-stop(58%,#FF6760), color-stop(100%,#FF6760)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* IE10+ */
  	background: linear-gradient(to bottom, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* W3C */
}

.start-project .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow:0 -1px 1px #FFFFFF;

}

.start-project .btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.start-project .btn:hover, .start-project .btn:focus {
	  -moz-border-bottom-colors: #F9564A;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-width: 1px;
    background-position: 0 -15px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
    background: #FF6760; /* Old browsers */
  	background: -moz-linear-gradient(top, #FF6760 0%, #FF6760 46%, #FF6760 58%, #FF6760 100%); /* FF3.6+ */
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6760), color-stop(46%,#FF6760), color-stop(58%,#FF6760), color-stop(100%,#FF6760)); /* Chrome,Safari4+ */
  	background: -webkit-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* IE10+ */
  	background: linear-gradient(to bottom, #FF6760 0%,#FF6760 46%,#FF6760 58%,#FF6760 100%); /* W3C */
}


/* ==========================================================================
   custom page fonts
   ========================================================================== */
h1,h2,h3,h4,h5,h6,p,a{
	font-weight: 400;
	font-family:'Roboto Condensed', sans-serif;
  text-shadow: 0px 1px 1px #FFFFFF;
}
/* ==========================================================================
   Nav-Bar/Header custom styles
   ========================================================================== */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.72);
}
.navbar-inverse .navbar-inner {
    background: #404040;
    background: url("../img/escheresque_ste.png") repeat scroll 0 0 transparent;
    border-color: #252525;
}
.navbar .nav{
	margin-top: 3em;
}
.navbar-fixed-top{
	margin-bottom: 20px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
	background:#404040;
	color:#FF6760;
}

.nav > li > a{
	font-size: 1.200em;

}
.logo{
	width:100px;
}

/* ==========================================================================
   Page Styles
   ========================================================================== */
body{
  background:url('../img/shattered.png') repeat 0 0 transparent;
}

.hero-unit{
	margin-bottom: 50px;
	padding:0;
	background:none;

}
.hero-image{
	margin-top: 50px;
}

.hero-intro{
  margin:5.5em 0 2em 0;
}
.hero-intro h1{
	  color: #FF6760;
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 1px 1px #FFFFFF;
}

.hero-intro .span7 h2{
  color:#404040;
}
.hero-intro .span7 p, .hero-intro .span5 .number{
	color:#666666;
}

.hero-intro .span5 .number{
  color:#666666;
   text-align: center;
    margin-top:30px;
    text-shadow: 0px 1px 1px #FFFFFF;
     }

/*what we do section*/
.what-we-do{
	background:#404040;
}
.what-we-do .container{
  padding-bottom: 50px;
}
.what-we-do .container h1{
  text-shadow: 0 1px 1px #CCCCCC;
}
.what-we-do h1, .recent-project h1, .get-in-touch h1{
	text-align: center;
	color:#838383;
  font-size:72px;
  font-weight: 700;
  text-shadow: 0 1px 1px #FFFFFF;
	margin-bottom: 0.8em;
  margin-top:60px;
  letter-spacing: 1px;
}
.what-we-do h2{
	text-align: center;
	color:#FF6760;
	letter-spacing: 1px;
  text-shadow:none;
}
.what-we-do p{
	font-size:1.4em;
	text-align: center;
	color:#808080;
  text-shadow:none;
  letter-spacing: 1px;
}


.web-design, .web-development,.process-strategy{
  display:block;
  margin:auto;
}

.number{
  text-align: center;
}

/* ==========================================================================
   Recent Project Styles
   ========================================================================== */
.recent-project{
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.recent-project h1{
  margin-bottom: 50px;
  color:#404040;
}
.recent-project h3{
    color:#FF6760;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 1px #FFFFFF;
    letter-spacing: 1px;
    margin-top: 30px;
}
.recent-project h4{
  font-weight: 700;
  color:#404040;
}
.recent-project p{
  font-size: 1.4em;
  color:#666666;
  line-height: 30px;
}
.our-role{
padding:0;
margin:0;
}
.our-role li{
display:inline-block;
color:#666666;
margin:0 0.5em;
}
.our-role li:nth-child(1){
margin:0;
}

.launched h3{
  font-size: 1em;
  color:#404040;
  font-weight: 400;
}
.meaning-apparel{
  display:block;
  margin:1em 05;
}
.see-more{
  color:#FF6760;
}

/* ==========================================================================
   Get In Touch
   ========================================================================== */
.contact-us-bg{
background: url('../img/twinkle_twinkle.png') repeat scroll 0 0 transparent;
}
.get-in-touch h1{
  color:#ffffff;
}
.contact-form{
  padding:20px;
}
.contact-form input{
  border-radius: 0;
  font-weight: 700;
  letter-spacing: 1px;
  background:#454545;
}
.get-in-touch textarea{
width:98.2%;
border-radius: 0;
font-weight: bold;
letter-spacing: 1px;
background:#454545;
}



/* ==========================================================================
   Responsive break-points
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {

  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

.ipad{display: block; margin: 10px auto auto;}

.hero-unit {
  margin-top: 0;
  margin-bottom: 10px;
   }

.hero-intro .span5 .number{
  font-size: 0.9em;
  color: #666666;
  text-align: center;
  margin-top: 30px;
    }
.hero-intro h1{
  font-size: 3em;
   }
.hero-intro h3{
 font-size: 1.200em
  }
.hero-intro p{
  font-size: .9em;
  margin-left:0;
}

.start-project{
  margin-bottom:20px;
   }
.start-project .btn{
  font-weight: 700;
   }

.what-we-do h2{
  font-size: 1.9em;
   }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.hero-unit { margin-top: 0; }

  .hero-intro .span5 .number{
   font-size: 1.3em;
   color:#666666;
   text-align:
   center;
   margin-top:30px;
 }

}


/* Landscape phones and down */
@media (max-width: 480px) {

	.hero-unit {margin-top: 0;}

 }






